Zadanie 1

In [ ]:
ojciec(kazimierz, jacek).
ojciec(kazimierz, anna).
matka(ewa, anna).
matka(katarzyna, magda).

Zadanie 2

In [ ]:
rodzic(jan, marek).
rodzic(maria, kasia).

Zadanie 3

In [ ]:
ojciec(janusz, pawel).
ojciec(janusz, alicja).
ojciec(edward, janusz).
matka(teresa, janusz).

dziadek(X, Y) :- ojciec(X, Z), (ojciec(Z, Y) ; matka(Z, Y)).

Zadanie 4

In [ ]:
kobieta(marta).
kobieta(anna).
kobieta(eliza).
kobieta(kasia).

rodzic(andrzej, marta).
rodzic(andrzej, anna).
rodzic(katarzyna, eliza).
rodzic(katarzyna, kasia).

siostra(X, Y) :-
    kobieta(X),
    rodzic(Z, X),
    rodzic(Z, Y),
    X \== Y.

Zadanie 5

In [ ]:
rodzic(karol, agata).
rodzic(karol, michal).
rodzic(ewa, agata).

jest_rodzicem(X) :- rodzic(X, _).

Zadanie 6

In [ ]:
rodzic(jan, robert).
rodzic(jan, tomek).
rodzic(jan, anna).

czyj_rodzic(X, ListaDzieci) :- findall(Y, rodzic(X, Y), ListaDzieci).

Zadanie 7

In [ ]:
rodzic(jan, anna).
rodzic(jan, piotr).
rodzic(maria, anna).
rodzic(maria, piotr).

rodzic_cut(X, Y) :- rodzic(X, Y), !.
rodzic_bez_cut(X, Y) :- rodzic(X, Y).

Zadanie 8

In [ ]:
rodzic(krystyna, jacek).
rodzic(krystyna, magda).
rodzic(andrzej, jacek).
rodzic(andrzej, magda).

rodzic(X, Y) :- rodzic(X, Y), !.

Zadanie 9

In [ ]:
wiek(aleksander, 40).
wiek(daniel, 35).
wiek(olga, 25).

starszy(X, Y) :- wiek(X, WiekX), wiek(Y, WiekY), WiekX > WiekY.

Zadanie 10

In [ ]:
wiek(jacek, 50).
wiek(anna, 45).
wiek(ewa, 30).

wiek_wiecej_niz(N) :-
    wiek(X, Wiek),
    Wiek > N,
    write(X), nl,
    fail.
wiek_wiecej_niz(_).

Zadanie 11

In [ ]:
:- dynamic artykul/3.

artykul(monitor, 25, sektor_d).
artykul(konsola, 8, sektor_f).
artykul(komputer_stacjonarny, 30, sektor_e).

dodaj_artykul(X) :-
    assertz(X).

usun_artykul(X) :-
    retract(X),
    !.

usun_artykul(_).

wyswietl_artykuly :-
    artykul(Nazwa, Ilosc, Sektor),
    format('Nazwa: ~w, Ilość: ~w, Sektor: ~w~n', [Nazwa, Ilosc, Sektor]),
    fail.
wyswietl_artykuly.

Zadanie 12

In [ ]:
zamien(_, _, [], []).
zamien(X, Y, [X|T1], [Y|T2]) :-
    zamien(X, Y, T1, T2).
zamien(X, Y, [H|T1], [H|T2]) :-
    H \= X,
    zamien(X, Y, T1, T2).

dlugosc([], 0).
dlugosc([_|T], N) :-
    dlugosc(T, N1),
    N is N1 + 1.